SECRET_KEY='very_secret'
ALLOWED_HOSTS='*'
DEBUG=True
JWT_SECRET='some-very-secret-key'
DB_NAME='db_name'
DB_USER='db_username'
DB_PASSWORD='db_password'
SERVER_IP=0.0.0.0
SERVER_PASS="12345"
SERVER_USERNAME='some_user'
PROJECT_FOLDER_ON_SERVER='some_folder'
BACKEND_URL_ROOT='example.com'
NGINX_CONFIG_FILE_NAME='server_configs/kodjaz_nginx.conf'
SERVICE_CONFIG_FILE_NAME='server_configs/gunicorn_kodjaz.service'
SOCKET_CONFIG_FILE_NAME='server_configs/gunicorn_kodjaz.socket'
SOCKET_NAME='example_sock'
PID_FILE='example_pid'