<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Webpack 4 starter template</title>
  </head>

  <body>
    <div id="app">
    </div>
  </body>
  <script>
  {% if is_dev %}
    const ws = new WebSocket('ws://localhost:9898/')
    ws.onopen = function() {
      console.log('WebSocket Client Connected')
      ws.send('Web client is ready.')
    }
    ws.onmessage = function(e) {
      if(e && e.data == 'RELOAD') {
        location.reload()
      }
    }
  {% endif %}
  </script>
</html>
