{% extends "base.html" %}
{% load static i18n %}
{% block title %}{% trans 'Exercise' %}{% endblock %}

{% block content %}
{# Success modal start #}
<div id="successModal" class="modal bd-success-modal-sm" tabindex="-1" role="dialog" aria-labelledby="successModal"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid bd-success-modal-row">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    {% if object.next_exercise.id %}
                        <p>{% trans 'You did it! Now go to the next exercise: ' %}
                        <a href="{% url 'courses:exercise' object.next_exercise.id %}">
                            {{ object.next_exercise.name }}
                        </a></p>
                    {% else %}
                        <p>{% trans 'Congratulations! You have passed all the available exercises in this course!' %}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{# Success modal end #}
{# Fail modal start #}
<div id="failModal" class="modal bd-fail-modal-sm" tabindex="-1" role="dialog" aria-labelledby="failModal"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid bd-fail-modal-row">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <p>{% trans 'It seems something went wrong with your code. Look at the errors below:' %}</p>
                    <p>{{ input_error_text }}</p>
                    <p>{{ output_error_text }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{# Fail modal end #}
{# Server error modal start #}
<div id="serverErrorModal" class="modal bd-server-error-modal-sm" tabindex="-1" role="dialog"
     aria-labelledby="serverErrorModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid bd-server-error-modal-sm-row">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    {% trans "We did something wrong on our server. Please, try again later or contact admin" %}<br/>
                </div>
            </div>
        </div>
    </div>
</div>
{# Server error modal end #}
<div class="container-fluid">
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-sm-3 fixed-height">
            <h2>{{ object.name }}</h2>

            <div class="instructions-divider padding-5px">{% trans 'Useful information' %}</div>
            <div class="padding-top-bottom-5px">{{ lecture|linebreaks }}</div>
            <div class="instructions-divider padding-5px">{% trans 'Instructions' %}</div>
            <div class="padding-top-bottom-5px">{{ instruction|linebreaks }}</div>
            <div class="instructions-divider padding-5px cursor" onclick="toggleHint()">{% trans 'Need help? Click here.' %}</div>
            <div class="padding-top-bottom-5px hidden" id="hint">
                {% if hint|length > 0 %}
                    {{ hint|linebreaks }}
                {% endif %}
            </div>
        </div>
        <div class="col-sm-5">
          <ul class="nav nav-tabs mt-1" id="editorsTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="code-tab" data-toggle="tab" href="#code" role="tab" aria-controls="code" aria-selected="false">
                code.py
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="file-tab" data-toggle="tab" href="#file" role="tab" aria-controls="file" aria-selected="false">
                file.txt
              </a>
            </li>
          </ul>
          <div class="tab-content editor-wrapper" id="editorsTabContent">
            <pre
              class="editor tab-pane fade show active"
              id="code"
              role="tabpanel"
              aria-labelledby="code-tab">{{ default_code }}</pre>
            <pre
              class="editor tab-pane fade"
              id="file"
              role="tabpanel"
              aria-labelledby="file-tab">File contents</pre>
              <textarea id="file.txt" style="display: none;"></textarea> 
          </div>
          <div class="row padding-top-5px">
            <div class="col-sm-4 padding-bottom-5px">
              <button type="button" class="btn btn-primary" onclick="runit()">{% trans 'Run and Check' %}</button>
            </div>
            {% if not request.user.is_authenticated %}
            <div class="col-sm-6 col-sm-offset-1 padding-0">
                <div class="alert alert-warning padding-9px margin-bottom-0 text-xs-center" role="alert">
                    {# Add trans with a context to make it easy to translate #}
                    <a href="{% url 'account_login' %}" class="alert-link">
                        {% trans "Sign in" context "Sign in to save your progress" %}
                    </a> {% trans 'to save your progress' %}
                </div>
            </div>
            {% endif %}
          </div>
        </div>
        <div class="col-sm-4">
            <div class="padding-top-1em">
                <div class="card card-fixed-height">
                    <div class="card-body">
                        <div class="card-text">
                            <pre class="output-pre" id="{{ outputElementId }}"></pre>
                        </div>
                    </div>
                </div>
                <div id="turtle-canvas"></div>
            </div>
        </div>
    </div>
    <div>
        <textarea readonly id="code_checker" style="display: none;">{{ unit_test }}</textarea>
    </div>
</div>
{% endblock content %}

{% block specific_javascript %}

<script src="{% static 'js/skulpt/skulpt.min.js' %}"></script>
<script src="{% static 'js/skulpt/skulpt-stdlib.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/ace.min.js" integrity="sha256-qCCcAHv/Z0u7K344shsZKUF2NR+59ooA3XWRj0LPGIQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/mode-python.min.js" integrity="sha256-dgu7+RV2rby44bxsuQuo2Rm+pG0JXtShrFWStI0DrC4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/theme-vibrant_ink.min.js" integrity="sha256-IQ2CFOsaAexyrA3QCiqwFxfqVrl8+x0sXtv2mZqoQgo=" crossorigin="anonymous"></script>
<script type="text/javascript">

  $(document).ready(writeEditorContentToFileTextArea)

  var editor = ace.edit("code")
  editor.setTheme("ace/theme/vibrant_ink")
  editor.session.setMode("ace/mode/python")

  // Textarea for working with a "file"
  var fileTextAreaId = "file.txt"
  var fileTextArea = document.getElementById(fileTextAreaId)

  var fileEditor = ace.edit("file")
  fileEditor.setTheme("ace/theme/vibrant_ink")
  fileEditor.session.setMode("ace/mode/text")

  function writeEditorContentToFileTextArea() {
    var val = fileEditor.getValue()
    fileTextArea.innerHTML = val
  }

  fileEditor.on('update', function() {
    writeEditorContentToFileTextArea()
  })

  // Write text editor value to the textarea
  $('#file-tab').on('shown.bs.tab', function(e) {
    fileEditor.focus()
    fileEditor.resize()
    fileEditor.execCommand("gotolineend")
  })

  function outf(text) {
    var mypre = document.getElementById("{{ outputElementId }}")
    text = text.replace(/</g, '&lt;')
    mypre.innerHTML = mypre.innerHTML + text
  }

  function builtinRead(x) {
    if (Sk.builtinFiles === undefined || Sk.builtinFiles["files"][x] === undefined)
      throw "File not found: '" + x + "'";
    return Sk.builtinFiles["files"][x];
  }

  function filewrite(fileObj, x) {
    // TODO(murat): handle append mode
    var valueToWrite = x.v
    var fileTextAreaNode = document.getElementById(fileObj.name)
    // Update fileTextArea and the editor content
    fileTextAreaNode.innerHTML = valueToWrite
    fileEditor.session.setValue(valueToWrite)
  }

  function runit() {
    var prog = editor.getValue();
    var unitTest = document.getElementById('code_checker').value;
    var readyProg = prog + '\n' + unitTest;
    var outputElement = document.getElementById("{{ outputElementId }}");
    outputElement.innerHTML = '';
    Sk.pre = "{{ outputElementId }}";
    Sk.configure({
      output: outf,
      inBrowser: true,
      read: builtinRead,
      nonreadopen: true,
      filewrite: filewrite,
      killableWhile: true,
      killableFor: true,
      __future__: Sk.python3,
    });
    (Sk.TurtleGraphics || (Sk.TurtleGraphics = {})).target = 'turtle-canvas';
    var evalPromise = Sk.misceval.asyncToPromise(function () {
      return Sk.importMainWithBody("<stdin>", false, readyProg, true);
    });
    evalPromise.then(function (mod) {
      if (checkInput(prog) && checkOutput()) {
        createSubmissionAndShowModal(prog, true);
      } else {
        createSubmissionAndShowModal(prog, false);
      }
    },
    function (err) {
      createSubmissionAndShowModal(prog, false, err.toString());
    });
  }

  function toggleHint() {
    $('#hint').toggleClass('hidden')
  }

  {% autoescape off %}
  function checkInput(codeText) {
    var positiveAssertionWords = '{{ input_should_contain }}'.split(",");
    var negativeAssertionWords = '{{ input_should_not_contain }}'.split(",");
    return _checkImpl(positiveAssertionWords, codeText, true) && _checkImpl(negativeAssertionWords, codeText, false)
  }

  function checkOutput() {
    var output = document.getElementById('output').innerHTML.trim();
    var positiveAssertionWords = '{{ output_should_contain }}'.split(",");
    var negativeAssertionWords = '{{ output_should_not_contain }}'.split(",");
    negativeAssertionWords.push('exception');
    negativeAssertionWords.push('Fail:');
    return _checkImpl(positiveAssertionWords, output, true) && _checkImpl(negativeAssertionWords, output, false)
  }

  function _checkImpl(assertionWords, textToCheck, positive) {
    var resultsInd = [];
    if (assertionWords.length >= 1 && assertionWords[0].length > 0) {
      for (var i = 0; i < assertionWords.length; i++) {
          resultsInd.push(textToCheck.indexOf(assertionWords[i]))
      }
    } else {
      return true
    }
    return positive ? resultsInd.indexOf(-1) === -1 : resultsInd.indexOf(-1) > -1;
  }
  {% endautoescape %}

  function createSubmissionAndShowModal(prog, passed, err) {
    err === undefined ? err = '' : err;
    $.ajax({
      url: '{% url 'courses:create_submission' %}',
      type: 'POST',
      data: {
        csrfmiddlewaretoken: '{{ csrf_token }}',
        exercise: {{ object.id }},
        submitted_code: prog,
        passed: passed
      }
    })
    .done(function (responseData) {
      if (responseData.saved) {
        passed ? _toggleSuccessModal(true) : _toggleFailModal(err, true)
      } else {
        responseData.not_logged_in
          ? passed ? _toggleSuccessModal(false) : _toggleFailModal(err, false)
          : $("#serverErrorModal").modal('toggle')
      }
    })
  }

  var notLoggedInMessage = "{% trans 'Your progress not saved.' %}";
  var notLoggedInMessageContainer = '<p id="notLoggedInMessage">' + notLoggedInMessage + '</p>';
  var notLoggedInMessageElement = $("#notLoggedInMessage");

  function _toggleSuccessModal(loggedIn) {
    if(!loggedIn) {
      notLoggedInMessageElement.remove();
      $(".bd-success-modal-row").append(notLoggedInMessageContainer);
    }
    $("#successModal").modal('toggle')
  }

  function _toggleFailModal(err, loggedIn) {
    var failModalRow = $(".bd-fail-modal-row");
    if(err.length > 0) {
      $("#parseError").remove();
      failModalRow.append('<p id="parseError">' + err + '</p>');
    }
    if(!loggedIn) {
      notLoggedInMessageElement.remove();
      failModalRow.append(notLoggedInMessageContainer)
    }
    $("#failModal").modal('toggle');
  }

</script>
{% endblock specific_javascript %}
