{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Lessons' %}{% endblock %}


{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'courses:units_list' object_list.0.unit.track.id %}">
            {{ object_list.0.unit.track.name }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'courses:lessons_list' object_list.0.unit.id %}">
            {{ object_list.0.unit.name }}
        </a>
    </li>
{% endblock navbar %}

{% block content %}

    <div class="container">
      <div class="row">
        <div>
          {# Translators: the following would look like this -- Unit 1: Python syntax lessons #}
          <h1>{% trans 'Unit:' %} {{ object_list.0.unit.name }}. {% trans 'Lessons' %}.</h1>
          <div class="padding-bottom-5px">{% trans 'Overall Duration:' %} {{ lessons_duration }} {% trans 'min.' %}</div>
        </div>
          <ul class="list-group list-group-flush w-100">
            {% for lesson in object_list %}
            <li class="list-group-item list-group-item-action w-100">
              <span><strong>{{ lesson.name }}</strong></span>
              <a href="{% url 'courses:exercises_list' lesson.id %}">
                <div class="list-group-item-heading">{% trans 'Number of exercises:' %} {{ lesson.exercises_number }}</div>
                <div class="list-group-item-heading">{% trans 'Duration of exercises:' %} {{ lesson.exercises_duration }} {% trans 'min.' %}</div>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
    </div>

{% endblock content %}
