{% extends "base.html" %}
{% load static %}{% load i18n %}
{% block title %}{% trans 'Units' %}{% endblock %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'courses:units_list' object_list.0.track.id %}">
            {{ object_list.0.track.name }}
        </a>
    </li>
{% endblock navbar %}

{% block content %}

<div class="container">

    <h1>{% trans 'Units' %}</h1>

    <div class="list-group">
        {% for unit in object_list %}
          <a href="{% url 'courses:lessons_list' unit.id %}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ unit.name }}</h4>
            <h5 class="list-group-item-heading">{{ unit.description }}</h5>
            <h6 class="list-group-item-heading">{% trans 'Number of lessons in unit:' %} {{ unit.lesson_exercises_count }}</h6>
            <h6 class="list-group-item-heading">{% trans 'Overall duration of lessons in unit:' %} {{ unit.lessons_exercises_duration }} {% trans 'min.' %}</h6>
          </a>
        {% endfor %}

    </div>

</div>

{% endblock content %}
