[Unit]
Description=gunicorn daemon for kodjaz project
Requires=gunicorn_kodjaz.socket
After=network.target

[Service]
PermissionsStartOnly=True
User=username
Group=www-data
RuntimeDirectory=gunicorn
RuntimeDirectoryMode=0775
PIDFile=/run/gunicorn/example_pid
WorkingDirectory=/home/username/backend_folder
ExecStart=/home/username/backend_folder/env/bin/gunicorn \
          --access-logfile /home/username/backend_folder/logs/access.log \
          --error-logfile /home/username/backend_folder/logs/error.log \
          --pid /run/gunicorn/example_pid   \
          --env DJANGO_SETTINGS_MODULE=config.settings_prod \
          --workers 2 \
          --bind unix:/run/gunicorn/example_sock config.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
