[Unit]
Description=gunicorn daemon for kodjaz project
Requires=gunicorn_kodjaz.socket
After=network.target

[Service]
PermissionsStartOnly=True
User=kodjaz
Group=www-data
RuntimeDirectory=gunicorn
RuntimeDirectoryMode=0775
PIDFile=/run/gunicorn/pid
WorkingDirectory=/home/kodjaz/backend
ExecStart=/home/kodjaz/backend/env/bin/gunicorn \
          --access-logfile /home/kodjaz/backend/logs/access.log \
          --error-logfile /home/kodjaz/backend/logs/error.log \
          --pid /run/gunicorn/pid   \
          --env DJANGO_SETTINGS_MODULE=config.settings_prod \
          --workers 3 \
          --bind unix:/run/gunicorn/kodjaz_socket config.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
